.btn {
  background-color: $btn-bg;
  box-shadow: $shadow;
  border-radius: 10px;
  height: 42px;
  width: 160px;

  &:hover {
    background-color: $btn-hover-bg;
  }

  &:focus {
    border-color: $btn-focus-border-color;
  }
}
