.btn{background-color:#c1e5ff;box-shadow:0 4px 4px #00000040;border-radius:10px;height:42px;width:160px;border:none}.btn:hover{background-color:#76c5ff;cursor:pointer}.btn:focus{border-color:#0d4666}
